# API Configuration
NEXT_PUBLIC_SERVER_API=http://localhost:5588
NEXT_PUBLIC_URL="https://chatty.rumsan.us"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...

# Industry values must match the lowercase names returned by the backend (e.g., "banking", "dentistry", "veterinary")
# check in the constants folder for sector file and use the corresponding value
NEXT_PUBLIC_INDUSTRY_VALUES=banking